<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

        <title>Retirement Calculator</title>

        <script>
            var app = angular.module('retireApp', []);
            app.controller('retireCtrl', function($scope) {
                $scope.calculate = function() {
                    // get the years.
                    var years = $scope.years;
                    console.log ("years = " + years);
                    $scope.years2retire = years;
                    // get the roi
                    var roi = $scope.roi;
                    // get the inflation rate.
                    var inflation = $scope.inflation;
                    // calculate effective rate.
                    var rate = roi - inflation;
                    console.log ("effective growth rate = " + rate);
                    $scope.growthRate = rate + '%';
                    // future value of one dollar.
                    var futureOneDollar = 1 * Math.pow(1 + (rate / 100), years);
                    $scope.savedgrowthrate = "$" + futureOneDollar.toFixed(2);
                    // future value of saving one dollar every month.
                    var cashFlow = 1;
                    var interestRate = (rate / 100) / 12;
                    var numPayments = years * 12;
                    // see http://www.investopedia.com/articles/03/101503.asp
                    var futureSavingADollar = cashFlow * ((Math.pow(1 + interestRate,numPayments) - 1) / interestRate)
                    $scope.monthlySavingGrowthRate = "$" + futureSavingADollar.toFixed(2);

                    // future values
                    var currentsavings = $scope.savedNow;
                    var fvCurrentSavings = currentsavings * futureOneDollar;
                    $scope.futureValueSaved = "$" + fvCurrentSavings.toFixed(2);
                    var monthlyDeposit = $scope.monthlySavings;
                    var fvMonthlyDeposit = monthlyDeposit * futureSavingADollar;
                    $scope.futureValueMonthlyContribs = "$" + fvMonthlyDeposit.toFixed(2);
                    var totalSaved = fvMonthlyDeposit + fvCurrentSavings;
                    $scope.futureValueEverything = "$" + totalSaved.toFixed(2);

                    // monthly values.
                    var monthlyWithdraw = totalSaved / 300;
                    $scope.monthlyFromSavings = "$" + monthlyWithdraw.toFixed(2);
                    var socialsecurity = Number($scope.socialsec);
                    var monthlytotal = monthlyWithdraw + socialsecurity;
                    console.log ("social sec " + socialsecurity.toFixed(2));
                    console.log ("monthly total: " + monthlytotal);
                    $scope.monthlyTotal = "$" + monthlytotal.toFixed(2);

                    //reality check.
                    var grossIncome = $scope.monthlyIncome;
                    var monthlyExpensesRetirement = grossIncome - monthlyDeposit;
                    $scope.monthlyExpenses = "$" + monthlyExpensesRetirement.toFixed(2);
                    var difference = monthlytotal - monthlyExpensesRetirement;
                    $scope.differenceField = "$" + difference.toFixed(2);

                    console.log($scope);
                }

				// Set initial values
                $scope.years                      = 20;
                $scope.roi                        = 8;
                $scope.inflation                  = 3;
                $scope.growthRate                 = '__%';
				$scope.years2retire				  = 20;
                $scope.savedgrowthrate            = '$__';
                $scope.monthlySavingGrowthRate    = '$__';
                $scope.monthlyIncome              = 3000;
                $scope.monthlySavings             = 300;
                $scope.savedNow                   = 72000;
                $scope.futureValueSaved           = 45;
                $scope.futureValueMonthlyContribs = 45;
                $scope.futureValueEverything      = 45;
                $scope.socialsec                  = 400;
                $scope.monthlyFromSavings         = 45;
                $scope.monthlyTotal               = 45;
                $scope.monthlyExpenses            = 45;
                $scope.differenceField            = 45;
            });
        </script>
    </head>
    <body ng-app="retireApp" ng-controller="retireCtrl">
		<div class="content">
			<div ng-click="calculate()" class="button">calculate</div>
			<div class="section">
				<h2>Projections</h2>

				<div class="input">
					<div   class="label">Years to retirement: </div>
					<input class="numberinput" type="number" ng-model="years">
				</div>

				<div class="input">
					<div class="label">Return on investment (choose 7%, 8%, 9%, or 10%): </div>
					<input class="numberinput" type="number" ng-model="roi">
				</div>

				<div class="input">
					<div class="label">Inflation rate (chose 2%, 3%, 4%, or 5%): </div>
					<input class="numberinput" type="number" ng-model="inflation">
				</div>

				<div class="calculated">
					<div class="label">Savings growth rate: </div>
					<div class="value">{{growthRate}}</div>
				</div>


				<div class="calculated">
					<div class="label">Value of $1 growing at <div class="valueinline">{{growthRate}}</div>
					 for <div class="valueinline">{{years2retire}}</div> years : </div>
					<div class="value">{{savedgrowthrate}}</div>
				</div>

				<div class="calculated">
					<div class="label">Value of $1 deposited each month growing at
						<div class="valueinline">{{growthRate}}</div>
						for <div class="valueinline">{{years2retire}}</div> years : </div>
					<div class="value">{{monthlySavingGrowthRate}}</div>
				</div>
			</div>

			<div class="section">
				<h2> Guesses </h2>

				<div class="input">
					<div class="label">Gross monthly income: </div>
					<input class="numberinput" type="number" ng-model="monthlyIncome">
				</div>

				<div class="input">
					<div class="label">Savings per month: </div>
					<input class="numberinput" type="number" ng-model="monthlySavings">
				</div>

				<div class="input">
					<div class="label">Amount in retirement accounts today: </div>
					<input class="numberinput" type="number" ng-model="savedNow">
				</div>
			</div>

			<div class="section">
				<h2>Total Retirement accounts on the day you retire</h2>

				<div class="calculated">
					<div class="label">Amount in your old savings plan pile</div>
					<div class="value">{{futureValueSaved}}</div>
				</div>

				<div class="calculated">
					<div class="label">Amount in your new savings plan pile</div>
					<div class="value">{{futureValueMonthlyContribs}}</div>
				</div>

				<div class="calculated">
					<div class="label">Amount in both</div>
					<div class="value">{{futureValueEverything}}</div>
				</div>

				<div class="input">
					<div class="label">Social Security amount:</div>
					<input class="numberinput" type="number" ng-model="socialsec">
				</div>

				<div class="calculated">
					<div class="label">Monthly withdrawal from savings (saved amount diviged by 300)</div>
					<div class="value">{{monthlyFromSavings}}</div>
				</div>

				<div class="calculated">
					<div class="label">Total Monthly income</div>
					<div class="value">{{monthlyTotal}}</div>
				</div>
			</div>

			<div class="section">
				<h2>Reality Check</h2>
				<div class="calculated">
					<div class="label">Monthly expenses in retirement assuming you are no longer saving for retirement</div>
					<div class="value">{{monthlyExpenses}}</div>
				</div>

				<div class="calculated">
					<div class="label">Difference between what you've saved and what you'll spend</div>
					<div class="value">{{differenceField}}</div>
				</div>
			</div>
			<div ng-click="calculate()" class="button">calculate</div>
		</div>
    </body>
</html>
